/* login */
.modal-body {
    background:rgb(255, 255, 255);
    max-width: 600px;
    margin: auto;
}

.modal-body .form-control {
    background: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border: none;
    padding: 10px 15px ;
}

button.button-style-w3 {
    outline: none;
    padding: 12px 20px;
    font-size: 14px;
    color: #fff;
    background: #ff7f62;
    border: none;
    border-radius: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 600;
    width: 100%;
    margin-top: 1em;
}

.text-style-TMU {
    letter-spacing: 1px;
    font-size: 15px;
}

.bg-login {
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
}
.avatar {
    border-radius: 50%;
    overflow: hidden;
}

.bg-lighter-gray {
    background-color: #b6b6b6;
}

.w-30 {
    width: 30% !important;
}

.content-post {
    overflow-y: scroll;
    height: 25vh;
    max-height: 25vh !important;
}